/*MAIN WEBSITE LAYOUT*/
html {
  cursor: url('../images/mouse-red.png'), auto;
}
body {
  margin: auto;
  text-align: center;
  height: 100%;
  background-image: url('../images/background.jpg');
  background-size: auto 100vh;
  font-family: 'Bungee Inline';
}
section, aside {
  position: relative;
  float: left;
}
section {
  width: 100vh;
  height: 100vh;
}
aside {
  width: calc(50vw - 50vh);
  height: 100vh;
}
div#volume-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1px;
  color: grey;
}
@media screen and (max-aspect-ratio: 8/5) and (min-aspect-ratio: 1/1) {
  div#wrapper {margin-top: calc(50vh - 50vw * 5 / 8);}
  section, aside {height: calc(100vw * 5 / 8);}
  section {width: calc(100vw * 5 / 8);}
  aside {width: calc(50vw - 50vw * 5 / 8);}
}
@media screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 5/8) {
  div#wrapper {margin-left: calc(50vw - 50vh * 5 / 8);}
  section, aside {width: calc(100vh * 5 / 8);}
  section {height: calc(100vh * 5 / 8);}
  aside {height: calc(50vh - 50vh * 5 / 8);}
}
@media screen and (max-aspect-ratio: 5/8) {
  section, aside {width: 100vw;}
  section {height: 100vw;}
  aside {height: calc(50vh - 50vw);}
}

/*MIDDLE SECTION DISPLAY*/
div.display {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*DISPLAY - GRID*/
div#display-grid {
  padding: 5%;
  box-sizing: border-box;
}
div#display-grid > div {
  float: left;
  margin: 1%;
  border: solid grey 1px;
  border-radius: 10%;
  box-sizing: border-box;
}
div#display-grid > div > img {
  margin: 2%;
}

/*DISPLAY - SWITCHTURN & WIN*/
#display-switchturn, #display-win {
  display: none;
}
h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  -webkit-filter: drop-shadow(1px 1px white) 
              drop-shadow(-1px 1px white)
              drop-shadow(1px -1px white)
              drop-shadow(-1px -1px white);
}
h2#player-turn, h2#player-start {
  transform: translate(0, -50%);
  top: 50%;
  font-size: 10vh;
}
h2#player-wins {
  top: 17%;
  font-size: 7vh;
}
h2#clicktostart {
  top: 65%;
  font-size: 5vh;
  padding: 2%;
  box-sizing: border-box;
}

/*DISPLAY - MENU*/
div#display-menu {
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 4%;
  background-color: rgba(100, 200, 100, 0.8);
}
h1#game-title {
  margin: 5% 0 0 0;
  padding: 2%;
  font-size: 10vh;
  font-weight: normal;
}
div.select > div {
  display: inline-block;
  margin: auto 1% auto 1%;
  height: 100%;
  border: solid black 1vh;
  border-radius: 10%;
  box-sizing: border-box;
}
div#select-character {
  margin-top: 1%;
  height: 43%;
}
div#select-character > div {
  width: 43%;
  padding: 2%;
}
div#characters-red {border-color: rgba(255, 0, 0, .9);}
div#characters-blue {border-color: rgba(0, 0, 255, .9);}
div.characters > img {
  float: left;
  width: calc(100% / 3);
  height: calc(100% / 3);
  padding: 5%;
  box-sizing: border-box;
}
div#select-gridsize {
  margin-top: 4%;
  height: 22%;
}
div.gridsize {
  width: 22%;
  position: relative;
  background-color: black;
}
div.gridsize > * {
  position: absolute;
  width: 100%;
}
div.gridsize > div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-size: 10vh;
}
div.gridsize > img {
  top: 0;
  left: 0;
  opacity: 0.8;
  display: none;
}

/*ASIDE LEFT*/
img.button {
  position: absolute;
  right: 0;
  display: none;
}
img#button-menu {
  top: 5%;
  height: 14%;
}
img#button-score {
  top: 44%;
  height: 11%;
}
div.score {
  position: absolute;
  right: 5.5vh;
  transform: translate(50%, 0);
  font-size: 10vh;
  -webkit-filter: drop-shadow(1px 1px rgba(50,50,50,1)) 
                  drop-shadow(-1px 1px rgba(50,50,50,1))
                  drop-shadow(1px -1px rgba(50,50,50,1))
                  drop-shadow(-1px -1px rgba(50,50,50,1));
  display: none;
}
div#score-red {
  bottom: 55%;
  color: red;
}
div#score-blue {
  bottom: 33%;
  color: blue;
}
@media screen and (max-aspect-ratio: 1/1) {
  img.button {
    right: auto;
    bottom: 0;
  }
  img#button-menu {
    top: auto;
    height: auto;
    left: 5%;
    width: 14%;
  }
  img#button-score {
    top: auto;
    height: auto;
    left: calc((100% - 11%) / 2);
    width: 11%;
  }
  div.score {
    right: auto;
    transform: none;
  }
  div#score-red {
    bottom: -3%;
    right: 57%;
  }
  div#score-blue {
    bottom: -3%;
    left: 57%;
  }
}

/*ASIDE RIGHT*/
div.tilestogo {
  position: absolute;
  left: 0;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}
div#tilestogo-red {
  bottom: 50.5%;
  flex-direction: column-reverse;
}
div#tilestogo-blue {
  top: 50.5%;
  flex-direction: column;
}
div.tilestogo > img {
  height: 20%;
  width: 8vh;
}
@media screen and (max-aspect-ratio: 1/1) {
  /*RIGHT ASIDE*/
  div.tilestogo {
    left: auto;
    top: 0;
    height: auto;
    width: 40%;
  }
  div#tilestogo-red {
    bottom: auto;
    right: 50.5%;
    flex-direction: row-reverse;
  }
  div#tilestogo-blue {
    top: 0;
    left: 50.5%;
    flex-direction: row;
  }
  div.tilestogo > img {
    width: 20%;
    /*height: 8vw;*/
  }
}

/*VH & VW updates*/
@media screen and (max-aspect-ratio: 8/5) and (min-aspect-ratio: 1/1) {
  h2#player-turn, h2#player-start, h1#game-title,
  div.gridsize > div, div.score {font-size: calc(10vw * 5 / 8);}
  h2#player-wins {font-size: calc(7vw * 5 / 8);}
  h2#clicktostart {font-size: calc(5vw * 5 / 8);}
  div.select > div {border-width: calc(1vw * 5 / 8);}
  div.score {right: calc(5.5vw * 5 / 8);}
  div.tilestogo > img {width: calc(8vw * 5 / 8);}
}
@media screen and (max-aspect-ratio: 1/1)  and (min-aspect-ratio: 5/8){
  h2#player-turn, h2#player-start, h1#game-title,
  div.gridsize > div, div.score {font-size: calc(10vh * 5 / 8);}
  h2#player-wins {font-size: calc(7vh * 5 / 8);}
  h2#clicktostart {font-size: calc(5vh * 5 / 8);}
  div.select > div {border-width: calc(1vh * 5 / 8);}
}
@media screen and (max-aspect-ratio: 5/8) {
  h2#player-turn, h2#player-start, h1#game-title,
  div.gridsize > div, div.score {font-size: 10vw;}
  h2#player-wins {font-size: 7vw;}
  h2#clicktostart {font-size: 5vw;}
  div.select > div {border-width: 1vw;}
}

/*Animations*/
.hover-scale-110 {transition: transform .2s;}
.hover-scale-110:hover {transform: scale(1.1);}
.hover-scale-120 {transition: transform .2s;}
.hover-scale-120:hover {transform: scale(1.2);}
.hover-scale-160 {transition: transform .2s;}
.hover-scale-160:hover {transform: scale(1.6);}

.hover-scale-110inv {transition: transform .2s;}
.hover-scale-110inv:hover {transform: scale(1.1) rotate(180deg);}
.scale-160 {transform: scale(1.6);}

.hover-red:hover {background-color: red;}
.hover-blue:hover {background-color: blue;}

.rotated180cw {
  transform: rotate(180deg);
}
.rotate180cw {
  animation: rotate180cw 1s;
}
@keyframes rotate180cw {
  from {transform: rotate(0deg)}
  to {transform: rotate(180deg);}
}
.rotate180ccw {
  animation: rotate180ccw 1s;
}
@keyframes rotate180ccw {
  from {transform: rotate(180deg);}
  to {transform: rotate(0deg);}
}
.hopping {
    animation: hopping 3s infinite;
}
@keyframes hopping {
  from {transform: translate(0, 0);}
  5% {transform: translate(0, -2%);}
  10%, 11% {transform: translate(0, 0);}
  16% {transform: translate(0, -2%);}
  21% {transform: translate(0, 0);}
  to {transform: translate(0, 0);}
}



